* {
    box-sizing: border-box;
}

body {
    background: #ffffff;

    a {
        text-decoration: none;
        color: black;
    }



    .web-inner {
        width: 1400px;
        height: 100%;
        margin: 0 auto;

        .header-container {
            position: fixed;
            top: 0;
            z-index: 99;
            transition: all 0.25s;
            background: white;
            width: 1400px;
            height: 100px;


            .menu-wrap {
                display: flex;
                width: inherit;
                height: inherit;
                justify-content: space-between;
                position: relative;


                .main-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Metal Mania', cursive;
                    font-size: 20px;
                    letter-spacing: 2px;

                    li {
                        margin: 0 10px;

                        a {
                            padding: 10px 10px;
                        }
                    }
                }

                .logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: inherit;
                }

                .user-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Nanum Gothic Coding', monospace;
                    font-size: 13px;

                    li {
                        &:last-child {
                            margin-right: 10px;
                        }

                        a {
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .header-container.unvisible {
            opacity: 0;
        }

        .header-container-clone {
            position: fixed;
            top: -100px;
            z-index: 99;
            transition: all 0.25s;
            background: gray;
            width: 1400px;
            height: 60px;


            .menu-wrap {
                display: flex;
                width: inherit;
                height: inherit;
                justify-content: space-between;
                position: relative;


                .main-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Metal Mania', cursive;
                    font-size: 20px;
                    letter-spacing: 2px;

                    li {
                        margin: 0 10px;

                        a {
                            padding: 10px 10px;
                        }
                    }
                }

                .logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: inherit;


                }

                .user-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Nanum Gothic Coding', monospace;
                    font-size: 13px;

                    li {
                        &:last-child {
                            margin-right: 10px;
                        }

                        a {
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .header-container-clone.visible {
            top: 0;
        }

        .section-slider {
            height: 100vh;
            margin-top: 100px;


            .slideShow {
                width: 100%;
                height: 700px;
                overflow: hidden;
                position: relative;
                box-shadow: 2px 2px 5px #999;

                .slideShow_slides {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    a {
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        cursor: crosshair;
                    }
                }

                .slideShow_nav {
                    i {
                        font-size: 50px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        background: gray;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        border-radius: 8px;

                        &:first-child {
                            margin-left: -600px;
                        }

                        &:last-child {
                            margin-left: 600px;
                        }

                        &:hover {
                            color: black;
                            cursor: pointer;
                        }

                        &.disabled {
                            display: none;
                        }
                    }

                }

                .indicator {
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;

                    a {
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        margin: 0 5px;
                        background: white;
                        opacity: 0.8;
                        text-indent: -9999px;

                        &.active {
                            background: black;
                        }
                    }
                }
            }
        }

        .section-movie {
            height: 100vh;

            h1 {
                font-size: 40px;
                text-align: center;
                margin: 20px 0;
                font-family: 'Metal Mania', cursive;
                font-size: 110px;
                letter-spacing: 5px;
            }

            .movie_container {
                display: flex;
                width: 100%;
                height: 80vh;


                .column1 {
                    width: 100%;
                    position: relative;
                    background: #F6F6F6;
                    border-right: 5px solid white;

                    .image-wrap {
                        position: absolute;
                        top: 42%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50%;
                        height: auto;
                        transition: 0.3s;


                        &:hover {
                            width: 54%;
                        }

                        img {
                            width: 100%;
                            box-shadow: 0 0 10px gray;
                        }
                    }

                    .movie-desc {
                        position: absolute;
                        bottom: 10%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        text-align: center;
                        font-size: 22px;
                        font-family: 'Nanum Gothic Coding', monospace;
                        font-weight: bold;
                    }

                }

                .column2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .past-movie {
                        display: flex;
                        width: 100%;
                        height: 100%;

                        li {
                            position: relative;
                            width: 100%;
                            background: #F6F6F6;

                            &:first-child {
                                border-right: 5px solid white;
                            }


                            .image-wrap {
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 55%;
                                height: auto;
                                transition: 0.3s;

                                img {
                                    width: 100%;
                                    box-shadow: 0 0 10px gray;
                                }

                                &:hover {
                                    width: 59%;
                                }
                            }

                            .movie-desc {
                                position: absolute;
                                bottom: 5%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                text-align: center;
                                font-family: 'Nanum Gothic Coding', monospace;
                                font-weight: bold;

                            }
                        }

                        li.active {
                            background: #1F64A9;
                        }
                    }

                    .more {
                        width: 100%;
                        height: 70%;
                        position: relative;
                        background: #F6F6F6;
                        border-top: 5px solid white;

                        .image-wrap {
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 35%;
                            height: auto;
                            transition: 0.3s;


                            &:hover {
                                width: 40%;
                                background: #1F64A9;
                            }

                            img {
                                width: 100%;
                            }
                        }

                        .image-wrap.active {
                            display: none;
                        }

                        p {
                            position: absolute;
                            bottom: 10%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            font-size: 22px;
                            font-family: 'Nanum Gothic Coding', monospace;
                            font-weight: bold;
                        }
                    }

                    .more:hover {
                        background: #1F64A9;
                    }
                }
            }
        }

        .section-animation {
            height: 100vh;

            h1 {
                font-size: 40px;
                text-align: center;
                margin: 20px 0;
                font-family: 'Metal Mania', cursive;
                font-size: 100px;
                letter-spacing: 5px;
            }

            .animation_container {
                height: 80vh;
                background: green;
            }
        }
    }
}