body {
    background: #ffffff;

    a {
        text-decoration: none;
        color: black;
    }

    .web-inner {
        max-width: 1400px;
        margin: 0 auto;

        .section-header {
            position: fixed;
            top: 0;
            z-index: 99;
            transition: all 0.25s;
            background: white;

            header {
                display: flex;
                width: 1400px;
                height: 100px;
                justify-content: space-between;

                .main-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Metal Mania', cursive;
                    font-size: 20px;
                    letter-spacing: 2px;

                    li {
                        margin: 0 10px;

                        a {
                            padding: 10px 10px;
                        }
                    }
                }

                .logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: inherit;
                }

                .user-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Nanum Gothic Coding', monospace;
                    font-size: 13px;

                    li {
                        &:last-child {
                            margin-right: 10px;
                        }

                        a {
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .section-header.unvisible {
            opacity: 0;
        }

        .section-header-clone {
            position: fixed;
            top: -100px;
            z-index: 99;
            background: gray;
            transition: top 0.3s;
            box-shadow: -2px -2px 10px silver;

            header {
                display: flex;
                width: 1400px;
                height: 65px;
                justify-content: space-between;

                .main-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Metal Mania', cursive;
                    font-size: 20px;
                    letter-spacing: 2px;

                    li {
                        margin: 0 10px;

                        a {
                            padding: 10px 10px;
                        }
                    }
                }

                .logo {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: inherit;
                }

                .user-menu ul {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: 'Nanum Gothic Coding', monospace;
                    font-size: 13px;

                    li {
                        &:last-child {
                            margin-right: 10px;
                        }

                        a {
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .section-header-clone.visible {
            top: 0;
        }

        .section-slider {
            margin-top: 100px;

            .slideShow {
                width: 100%;
                height: 700px;
                overflow: hidden;
                position: relative;

                .slideShow_slides {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    a {
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        cursor: crosshair;
                    }
                }

                .slideShow_nav {
                    i {
                        font-size: 50px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        background: gray;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        border-radius: 8px;

                        &:first-child {
                            margin-left: -600px;
                        }

                        &:last-child {
                            margin-left: 600px;
                        }

                        &:hover {
                            color: black;
                            cursor: pointer;
                        }

                        &.disabled {
                            display: none;
                        }
                    }

                }

                .indicator {
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;

                    a {
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        margin: 0 5px;
                        background: white;
                        opacity: 0.8;
                        text-indent: -9999px;

                        &.active {
                            background: black;
                        }
                    }
                }
            }
        }

        .section-movie {
            width: 1400px;

            h1 {
                font-size: 40px;
                text-align: center;
                margin: 30px 0;
            }

            .movie_container {
                display: flex;
                width: 100%;
                height: 900px;
                border: 1px solid black;

                .column1 {
                    width: 100%;

                    position: relative;

                    .image-wrap {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 60%;
                        height: auto;
                        transition: 0.3s;

                        &:hover {
                            width: 65%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .movie-desc {
                        position: absolute;
                        bottom: 10%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        text-align: center;
                        font-size: 22px;
                    }

                }

                .column2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .past-movie {
                        display: flex;
                        width: 100%;
                        height: 100%;

                        li {
                            position: relative;
                            width: 100%;

                            .image-wrap {
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 60%;
                                height: auto;
                                transition: 0.3s;

                                img {
                                    width: 100%;
                                }

                                &:hover {
                                    width: 64%;
                                }
                            }

                            .movie-desc {
                                position: absolute;
                                bottom: 5%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                text-align: center;

                            }
                        }
                    }

                    .more {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .image-wrap {
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 60%;
                            height: auto;
                            transition: 0.3s;

                            &:hover {
                                width: 65%;
                            }

                            img {
                                width: 100%;
                            }
                        }

                        p {
                            position: absolute;
                            bottom: 10%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            font-size: 22px;
                        }
                    }

                }
            }
        }
    }
}